:root {
  font-family: 'Fira Code';
  line-height: 1.5;
  font-size: 1rem;

  @media (orientation: portrait) and (max-width: 500px) {
    font-size: 2vw;
  }
  @media (orientation: landscape) and (max-height: 900px) {
    font-size: 1.75vh;
  }
}

* {
  box-sizing: border-box;
}

html, body, main {
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: white;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a, a:visited, a:active, a:focus {
  color: white;
}

.text-black {
  color: black;
  a, a:visited, a:active, a:focus {
    color: black;
  }
}
.skew {
  transform: skewY(-5deg) scale(0.9, 1);
}

button {
  background-color: $color-red;
  color: black;
  height: 2rem;
  font: inherit;
  border: none;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.debug {
  color: blue;
  font-size: 1rem;
  display: none;
}
