:root {
  font-family: 'Fira Code';
  font-size: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

html,
body,
main {
  background-color: transparent;
  color: $white;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.container-center {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.m-auto {
  margin: auto;
}

.skew {
  transform: skewY(-5deg) scale(.9, 1);
}

a,
a:visited,
a:active,
a:focus {
  color: $white;
}

.text-black {
  color: $black;

  a,
  a:visited,
  a:active,
  a:focus {
    color: $black;
  }
}

button,
.btn {
  background-color: $color-red;
  border: 0;
  border-radius: 1rem;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: 1rem;
  min-height: 2rem;
  outline: none;
  padding: .25rem 1rem;
  text-decoration: none;

  &:focus {
    color: $black;
  }
}

p {
  font-size: inherit;
}

.text-padding {
  padding: 3.631875em 0;
}

.line-padding {
  display: block;
  padding: 0 2rem;

  @media (max-width: 500px) {
    padding: 0 .5rem;
  }
}

.building {
  fill: $black;
  opacity: .85;
}

#credits {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@font-face {
  font-family: 'Fira Code';
  src:
   local('Fira Code Regular'),
   url('~firacode/distr/woff2/FiraCode-Regular.woff2') format('woff2'),
   url('~firacode/distr/woff/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
