<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>MAE – {% block title %}{% endblock %}</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="{{ url_for('static', filename='imgs/og-img.jpg') }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
